@charset "utf-8";

body {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    width: 100%;
}

p {
    font-size: 15px;
    font-family:"Times New Roman", Times, serif;
    font-style: italic;
    color: #aeb0b9;
}

label, h1, h2, h3 {
    font-family: "Arial Black", Gadget, sans-serif;
}

p.brand { 
    font-family: "Arial Black", Gadget, sans-serif;
    size: 15px;
    font-style: normal;
    color: black;
    margin: 0 auto;
}

/* 导航栏样式表 */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 13%;

    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-self: flex-end; */
    align-items: center;
    text-align: center center;

    border-bottom: solid #d2d3d6 0.15px;
}

nav img {
    position: relative;
    top: 5px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

nav label {
    text-align: center center;
    font-size: 14px;
}

nav ul {
    margin-right: 30px;
    margin: 0px;
    padding: 0 0;
    list-style: none;
}

nav ul li {
    display: inline;
    font-family: "Arial Black", Gadget, sans-serif;
}

nav ul li a {
    float: right;
    padding: 0 20px; 
    font-size: 12px;
    text-align: top;
    text-decoration: none;
    color: #000000;
    outline: none;
}

#nav-logo {
    margin-left: 3%;
    display: flex;
    flex-wrap: wrap;
}

#nav-logo p {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    font-style: normal;
    color: black;
}

#nav-list {
    margin-right: 3%;
    display: inline-block;
    vertical-align: middle;
    text-align: center center;
}

#main-topic {
    background: url(../image/background.png) no-repeat;
    background-position: center center;
    text-align: center;
    height: 107px; 
    margin-top: 12%;
    margin-bottom: 8%;
}

.menu-exhibition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cardbox-top {
    width: 400px;
    height: 500px;
    box-shadow:10px 5px 60px #d2d3d6;
    text-align: center;
    float: left;
    margin: 22px 22px;
}

.cardbox-btm {
    width: 400px;
    height: 500px;
    box-shadow: 10px -5px 60px #d2d3d6;
    text-align: center;
    float: left;
    margin: 28px 22px 0 22px; 
}

.photobox-dish {
    width: 400px;
    height: 295px;
}

.cardbox-top h2 {
    font-size: 30px;
    padding: 25px 0 15px 0;
}

.cardbox-btm h2 {
    font-size: 30px;
    padding: 25px 0 15px 0;
}

#tail-logo {
    margin: 10% 1% 5% 1%;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100px;
}

.top-layer {
    width: 140px;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    background-color: white;
}


.btm-layer {
    width: 100%;
    position: relative;
    top: 60%;
    z-index: 0;
}

.btm-layer hr {
    color: #d2d3d6;
    size: 0.15px;
}

#tail-logo img {
    width: 100px; /*包括边框在内的宽 高同理*/
    height: 100px;
    margin: 0 auto;
    padding: 20px 20px;
    border: 1px solid #d2d3d6;
    font-weight: bold;
    border-radius: 50%;
}

#tail-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 5%;

}

#tail-para p {
    size: 16px;
}

.tail-contact {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 96px;
    padding: 30px 0 30px 0;
    border-top: solid #d2d3d6 0.15px;
}

.tail-contact img {
    padding: 0 4px;
}
