.under_top
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.under_top1
{
  width: 610px;
height: 351px;
background: url(./image/sofa.png) no-repeat center;
}
.word1
{
  margin-top: 150px;
}
.sofaword
{
  color: white;
  font-size: 30px;
text-align: center;
}
.top_detail
{
margin-left: 215px;
border-radius: 50px;
text-decoration: none;
color: rgba(226, 222, 222, 0.719);
width: 180px;
border: 2px rgba(226, 222, 222, 0.719) solid;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
}
.product
{margin-right: 350px;
  margin-left: 350px;
}
ul
{
  color: black;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
li
{color: black;
	float:right;
}
a
{
	display:block;
	width:60px;
}
a.active
{
  color: rgb(245, 159, 20);
}
.products
{display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  font-weight: 900;
  position: relative; ;
}
.products_left
{width: 305px;
  height: fit-content;
text-align: center;
margin-bottom: 100px;
}
.products_right
{width: 305px;
  height: fit-content;
  text-align: center;
}
.detail_view0
{
  margin-top: -140px;
  position: relative;
  height: 40px;
  width: 286px;
  text-align: center;
  color: white;
  opacity: 0;
}
.detail_view0:hover 
{

background-color: tomato;
opacity: 1;
}
.detail_view01
{
  margin-top: 300px;
  position: relative;
  height: 40px;
  width: 286px;
  text-align: center;
  color: white;
  opacity: 0;
}
.detail_view01:hover
{
  background-color: tomato;
  opacity: 1;
}
.discount
{position: relative;
  margin-left: 220px;
margin-top: -460px;
border: 2px solid brown;
background-color: brown;
width: 50px;
border-radius: 50px;
color: white;

}

.member
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1040px;
  height: 376px;
  background: url(./image/sofa1.png) no-repeat center;
  background-size: 100% 100%;
  margin-left: 400px;
}
.member_position
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: -350px;
  top: -50px;
}
.member_only
{
  color: rgb(93, 42, 1);
  font-size: 40px;
  font-weight: 900;
}
.policy
{
  font-size: 20px;
  color: rgb(93, 42, 1);
  margin-top: -40px;
}
.detail_view1
{
  margin-left: 20px;
  width: 90px;
  text-decoration: none;
  color: black;
  border: 2px black solid ;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.story
{text-align: center;
font-size: 40px;
}
.under_story
{display: flex;
  flex-direction: row;
  justify-content: center;
margin-left: 320px;
margin-right: 300px;
}
.story_text1
{
  text-align: center;
  font-weight: 800;
  font-size: larger;
}
.story_text2
{
  margin: 15px;
  margin-left: -5px;
}
.detail_view2
{position: relative;
  margin-left: 50px;
  margin-top: -20px;
  width: 200px;
  border: 0px solid gray;
  background-color: gray;
  text-align: center;
  width: 90px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
}
.detail_view2:hover
{
  background-color: tomato;
}

.popularity
{text-align: center;
  font-size: 30px;
}
.popularity1
{display: flex;
  flex-direction: row;
  justify-content: center;
}
.popularity1_left
{
  margin: 50px;
}
.popularity2
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.popularity2_left
{
  background: url(./image/sofa2.png) no-repeat;
  width: 400px;
  height: 300px;
}
.popularity2_left a:hover
{
background-color: tomato;
width: 19px;
}
span
{
  font-weight: 900;
}
.price{
  text-align: center;
  font-weight: 900;
}
.foot
{
  background-color: black;
  height: 600px;
}
.foot_texts
{color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.foot_text
{height: 200px;
  width: 200px;
margin: 50px;
}
.foot_p1
{
  text-decoration: underline;
}
.search
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
input
{
  border-radius: 50px;
  border: 0px solid gray;
  background-color: gray;
  height: 50px;
  width: 500px;
}
.foot_image
{
  margin-left: -90px;
  margin-bottom: -5px;
}


